{
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "Coantacts API",
    "version": "1.0.0"
  },
  "host": "process.env.PORT || 3000",
  "basePath": "/",
  "schemes": ["http"],
  "paths": {
    "/api-docs": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/contacts": {
      "get": {
        "description": "get all contacts",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "create a contact",
        "parameters": [
          {
            "name": "contact",
            "in": "query",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "example": "any"
                },
                "lastName": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "favoriteColor": {
                  "example": "any"
                },

                "birthday": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/contacts/get-id": {
      "get": {
        "description": "get a contact by id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "304": {
            "description": "Not Modified"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
      "/contacts/update-id": {
        "put": {
          "description": "update a contact by id",
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "required": true,
              "type": "string"
            },
            {
            "name": "contact",
            "in": "query",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "example": "any"
                },
                "lastName": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "favoriteColor": {
                  "example": "any"
                },

                "birthday": {
                  "example": "any"
                }
              }
            }
        }
          ],
          "responses": {
            "204": {
              "description": "No Content"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
    },
    "/contacts/delete-id": {
        "DELETE": {
          "description": "delete a contact by id",
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      }
    
  }
}
